.contact-form-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    flex-grow: 1; /* Let the container grow to take remaining space */
    height: 90vh; /* Set container height to 90% of viewport height */
    max-height: calc(100vh - 40px); /* Set max height to viewport height minus header and footer heights */
    overflow-y: auto; /* Add vertical scrollbar if needed */
}

.contact-form {
    width: 100%;
    max-width: 600px !important;
    padding: 20px;
    background: #0a261bde;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #d1d0d0;
  }
  

  