.dashboard-container {
  background-color: rgba(13, 25, 88, 0.801);
  border-color: rgba(91, 235, 55, 0.651);
  border-width: 10px;
  border-radius: 28px;
  padding: 20px;
  color: rgb(189, 189, 189);
  margin-bottom: 100px;
}

.pagination-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

.custom-text {
  color: rgb(64, 104, 107); 
}

Form.Text{
  margin-bottom:  20vh;
}

img{
  margin-top: 30px;
  max-width: 400px;
  max-height: 200px;
}

.card-title,.card-text{
  color: rgb(209, 209, 209) !important; 
}

.card-body{
  background-color: rgba(255, 255, 255, 0);
}

.card{
  background-color: rgba(107, 131, 207, 0.534); 
}

.no-tags {
  color: #8f99a1;
}