.login-register-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 90vh;
  flex-grow: 1; /* Let the container grow to take remaining space */
  height: 90vh; /* Set container height to 90% of viewport height */
  max-height: calc(100vh - 40px); /* Set max height to viewport height minus header and footer heights */
  overflow-y: auto; /* Add vertical scrollbar if needed */
}

.login-register-form {
  max-width: 400px;
  padding: 20px;
  background: #0a261bde;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #d1d0d0;
}
.form-group {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #0366d6;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p span {
  font-weight: bold;
  color: #226dc4;
  cursor: pointer;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100vh; /* Full height of the viewport */
}

.welcome-container p {
  font-size: 5rem;
  color: #a3d6cd; /* Example text color */
  margin-bottom: 20px; /* Add some space between the paragraph and the button */
}

.welcome-container button {
  padding: 10px 20px; /* Add padding to the button */
  background-color: #007bff; /* Example background color */
  color: #fff; /* Example text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-input {
  margin-right: 10px;
}

.show-password-label {
  margin-top: 10px;
  margin-left: 5px;
}