.skills-container {
  display: flex;
  flex-wrap: wrap;
  color: rgb(4, 37, 121);
  font-size: large;
}

.skill {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color 0.3s; /* Add transition for smooth color change */
  cursor: default; /* Prevent cursor from changing to I-beam */
}

.skill:hover {
  background-color: #bb77cf; /* Change color on hover */
}
